
body {
    font-family: "Open-Sans" sans-serif;
}
/* Modify the nav bar*/    
.navbar-dark {background-color: #1153B1 !important;}

.navbar-nav .nav-link {color:white !important;}

.nav-link, .navbar-brand {color:white !important;}

.nav-link:hover{color:#E5BD06 !important;}

.navbar-brand{
    margin-right:0.25rem;
}

.navbar-brand img {
    margin-right: 7.5px;
    margin-left: 0px;
}
/* end navbar modifications */

/* general center in middle of page styling (add in addition to other bootstrap classes*/
.vertical-center {
    min-height: 100%;
    min-height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
form {
    margin-top:20px;
  }

.password-container {
    position: relative;
}

/*eye toggle for password hide/show*/
#eye {
    position: absolute;
    top: 20%;
    right: 4%;
    cursor: pointer;
    color: lightgray;
  }
  #eye2 {
    position: absolute;
    top: 20%;
    right: 4%;
    cursor: pointer;
    color: lightgray;
  }